body, svg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: default;
    /*background-color: #DDD;*/
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.no-padding .ui-dialog-content {
    padding: 0;
    overflow: hidden;
}

.title-center .ui-dialog-titlebar {
    text-align: center;
    padding: 0.1em 0 0.1em 0;
} 

.ui-state-disabled {
    cursor: pointer;
}

.ui-widget {
    font-size: 14px;
}

#settings .ui-button-text-only .ui-button-text {
    padding: .2em .5em;
    font-weight: normal;
    font-size: 14px;
}