.sm-notes-node {
    font-family: Arial;
    font-size: 14px;
    border: 2px solid #CCC;
    padding: 3px;
    float: left;
    max-width: 150px;
    cursor: default;
    background-color: #FFFF99;
}

.sm-notes-node:hover {
    border: 2px solid blue;
}

.sm-notes-node-hover {
    border: 2px solid blue;
}

.sm-notes-cursor-link {
    stroke-width: 2;
    stroke: blue;
    display: none;
}

.sm-notes-links {
    stroke-width: 2;
    stroke: #CCC;
}