.sm-highlight {
	text-align: inherit;
	text-decoration: inherit;
	line-height: inherit;
	font: inherit;
	color: inherit;
	display: inline;
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}

.sm-yellow {
	background-color: yellow;
}

.sm-note {
	border: 1px solid red;
	border-radius: 5px
}

.sm-capture-dialong {
	font-family: Tahoma;
	font-size: 12px;
}

.sm-capture-dialong label {
	display: block;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}

.sm-capture-dialong input {
	display: block;
	font-family: Tahoma;
	font-size: 12px;
	width: 96%;
	height: 16px;
	padding: 5px;
	margin: 0;	
}

.sm-capture-dialong textarea {
	display: block;
	font-size: 12px;
	width: 96%;
	height: 100px;
	padding: 5px;
}

.ui-dialog .ui-dialog-title {
    font-family: Tahoma;
    font-size: 16px;
    text-align: left;
}

.ui-dialog .ui-dialog-content {
	padding: 6px 3px 6px 3px;
	margin: 3px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 5px;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
}

.ui-button-text-only .ui-button-text {
	padding: 4px;
	font-family: Tahoma;
    font-size: 14px;
}